<%- include("templaty/hlavicka") %>

<section class="bocny-panel">
  <div>
<p class="nadpis">
  Prototyp_0.0.1
  </p>
    </div>
</section>

<section class="content">
<h1>Skúška</h1>




<form class="" action="/" method="post">
  <p class="meno">
    Meno:
    <input type="text" name="name">
    </p>
  <p class="textInput">
    Text:
    <input type="text" name="textInput">
  </p>
  <button type="submit" name="button">Odoslať</button>
</form>



  <% menoAtext.forEach(function(menotext){ %>
      <form class="" action="/delete" method="post">
    <div class="okienko">
    <p class="menoDB">
    Meno:  <%= menotext.name %>
    </p>
    <p class="textDB">
    Text:  <%= menotext.content %>
    </p>
        <input type="hidden" name="itemToRemove" value="<%= menotext._id %>">
        <button type="submit" name="button">X</button>
      </div>
        </form>
    <%  }); %>







</section>

<!-- <img name="main" id="main" border="0" width="640" height="480"
src="http://87.244.209.146:5000/video_feed"> -->

<%- include("templaty/paticka") %>
